<%= form_with scope: :product_categories, model: @product_category, local: true do |form| %>
  <div class="container mt-4">
    <h3>Edit product category </h3>
    <hr>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: 'form-control' %>
    </p>
 
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :cover_image %><br>
      <%= form.file_field :cover_image %>
    </p>
 
    <p>
      <%= form.submit "update", class: "btn btn-primary" %>
    </p> 
  </div>
  
<% end %>

