<%= form_for @product, url: products_path, local: true do |form| %>
  <div class="container mt-4">
    <h3>Add product </h3>
    <hr>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: 'form-control' %>
    </p>
 
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :price %><br>
      <%= form.number_field :price, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :product_category %><br>
      <%= form.select :product_category_id, options_for_select(product_category_list), {prompt: "select product category"}, {class: 'form-control'} %>
    </p>

    <p>
      <%= form.label :status %><br>
      <%= form.text_field :status, class: 'form-control' %>
    </p>

    <p>
      <b>Active?</b><br />
      <%= form.radio_button :is_active, 'Yes' %> Yes<br />
      <%= form.radio_button :is_active, 'No' %> No<br />
    </p>

    <p>Product images</p>
    <div>
      <%= form.fields_for :images do |image| %>
        <%= render 'image_fields', :form => image %>
      <% end %>
      <div >
        <%= link_to_add_association 'add image', form, :images %>
      </div>
    </div><br>

    <p>
      <%= form.label :image ,"Cover image" %><br>
      <%= form.file_field :image, class: 'btn btn-outline-primary' %>
    </p>

    <p>
      <%= form.submit "Add product", class: "btn btn-primary" %>
    </p> 
  </div>
  
<% end %>

