<div class="container">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Actice?</strong>
  <%= @product.is_active %>
</p>

<p>
  <strong>Cover image:</strong>
    <% if @product.cover_image.present? %>
      <%= image_tag @product.cover_image.url %>
    <% else %>
      <%= image_tag('noimage.png') %>
    <% end %>
  </p>

</div>