<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <nav class="site-header sticky-top py-1 bg-info navbar-info">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
      </div>
    </nav> -->
    <%= yield %>
  </body>
</html>
